.bi-it-messages{
    background-color: #327ea3;
}
.bi-icon-mes{
    background-color: #327ea3;
}
.m-wrapper{
    padding: 20px 0;
}
.messages-content {
    overflow: hidden;
    margin-top: 40px;
}
.messages-content h3{
    padding-top: 10px;
}
.m-p1{
    padding: 10px 0;
}
.m-p1 span{
    font-size: 12px;
}
.messages-content.hide{
    color: transparent;
    height: 0;
    transition-duration: 0.3s;
}
.messages-content.show{
    height: 530px;
    transition-duration: 0.3s;
}
.messages-list {
    width: 100%;
}
.messages-wrapper.hide {
    max-height: 60px;
    transition-duration: 0.3s;
}
.messages-wrapper.show {
    max-height: 650px;
    transition-duration: 0.3s;
}