*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  padding: 0 10px;
  font-family: 'Montserrat', sans-serif;
}
p, span, td{
  font-size: 14px;
}
.box-wrapper {
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 40px;
  margin-right: -17px;
}
.box{
  position: relative;
  width: 800px;
  max-width: 90%;
  background-color: #282828;
  margin: auto;
}
.fc-1{
  color: #878787;
}
.fc-2{
  color: #4ca5d0;
}
.fc-3{
  color: #000 !important;
}
.fc-4{
  color: #878787;
}
.sm-links {
  position: absolute;
  top: -42px;
  right: -1px;
  display: flex;
}
.sml-item {
  border: 1px solid transparent;
  padding: 10px;
}

.sml-item.btn-theme svg, .sml-item.fb svg {
  cursor: pointer;
  color: #3b3b3b;
  transition-duration: 0.2s;
  font-size: 18px;
}

.sml-item.btn-theme svg:hover, .sml-item.fb svg:hover {
  color: #c3c4c3;
  transition-duration: 0.2s;
}
.mb-20{
  margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
  p, span, td{
      font-size: 14px;
  }
  h1{
      font-size: 40px;
  }
  h2 {
      font-size: 30px;
  }
  h3 {
      font-size: 18px;
  }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 600px) {
  p, span, td{
      font-size: 12px;
  }
  h1{
      font-size: 32px;
  }
  h2 {
      font-size: 25px;
  }
  h3 {
      font-size: 16px;
  }
  h4{
      font-size: 13px;
  }
  button {
      padding: 10px 15px
  }
}